<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="nav_collapse collapse navbar-collapse" id="navbarSupportedContent">
    <div class="row width_100">
      <div class="col-8 col-md-6 col-lg-6 padd_3"></div>
      <div class="col-4 col-md-6 col-lg-6 padd_3">
        <ul class="navbar-nav navbar_nav mr-auto">
          <li class="nav-item bell_icon">
            <a class="nav-link" href="#"><em class="fa fa-bell"></em></a>
          </li>
          <li class="nav-item dropdown user_logout">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <img src="../../../assets/img/provfile-pic.png"> John Doe
            </a>
            <div class="dropdown-menu dropdown_menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<!-- Sidebar Code -->
<div class="page-wrapper chiller-theme toggled">
  <aside id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <img src="../../../assets/img/real5-logo.png" class="logo_1">
        <img src="../../../assets/img/real5-logo.png" alt="" class="logo_2">
        <div id="close-sidebar">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="sidebar-menu">
        <ul>
          <li>
            <a href="#">
              <em class="fa fa-dashboard"></em>
              <span>Dashboard</span>
            </a>
          </li>
          <li class="active">
            <a href="#">
              <em class="fa fa-user"></em>
              <span>User</span>
            </a>
          </li>
          <li>
            <a href="#">
              <em class="fa fa-user-md"></em>
              <span>Agents</span>
            </a>
          </li>
          <li>
            <a href="#">
              <em class="fa fa-hand-peace-o"></em>
              <span>Leads</span>
            </a>
          </li>
          <li>
            <a href="#">
              <em class="fa fa-envelope"></em>
              <span>CRM Email</span>
            </a>
          </li>
          <li>
            <a href="#">
              <em class="fa fa-smile-o"></em>
              <span>Whiteboard</span>
            </a>
          </li>
          <li>
            <a href="#">
              <em class="fa fa-rss"></em>
              <span>Feed</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
  </aside>
  <!-- sidebar-wrapper  -->
</div>
