<app-agent-header></app-agent-header>
<section class="crm-email">
  <div class="container">
    <div class="crm-section">
      <div class="row">
        <div class="col-lg-12">
            <nav class="breadcrumb-nav" aria-label="breadcrumb">
            <div class="container">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Admin</a></li>
                <li class="breadcrumb-item active" aria-current="page">CRM Email</li>
              </ol>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="crm-body">
        <div class="left-panel">
          <ul>
            <li (click)="tabToggle(1)" [ngClass]="{'active': selectedItem === 1}"><i class="fa fa-inbox" aria-hidden="true"></i>
              Inbox</li>
            <li><i class="fa fa-paper-plane-o" aria-hidden="true"></i>
              Sent</li>
            <li (click)="tabToggle(3)" [ngClass]="{'active': selectedItem === 3}"><i class="fa fa-signal" aria-hidden="true"></i>
              Signature</li>
            <li (click)="tabToggle(4)" [ngClass]="{'active': selectedItem === 4}"><i class="fa fa-file-o" aria-hidden="true"></i>
              Canned Res..</li>
              <li><button class="btn btn-primary" (click)="ShowHideButton()">+ Compose</button></li>
          </ul>
        </div>
          <div class="inbox" *ngIf="showTab == 1">
            <div class="row">
              <div class="col-5">
                <div class="scroll">
                  <div class="mid-panel">
                    <div class="search_bar">
                      <div class="form-group has-search">
                        <span class="fa fa-search form-control-feedback"></span>
                        <input type="text" class="form-control" placeholder="Search">
                      </div>
                    </div>
                    <h5>Recent Email</h5>
                    <div class="messages">
                      <div class="row">
                        <div class="col-2">
                          <div class="image">
                            <img src="../../../assets/img/rect-1.png" />
                          </div>
                        </div>
                        <div class="col-10">
                          <div class="body">
                            <h4>John Travolta <span><i class="fa fa-clock-o" aria-hidden="true"></i> 02:35 PM</span>
                            </h4>
                            <h5>Comfortable Villa in Green</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero illo a praesentium
                              veritatis
                              recusandae</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="messages">
                      <div class="row">
                        <div class="col-2">
                          <div class="image">
                            <img src="../../../assets/img/rect-1.png" />
                          </div>
                        </div>
                        <div class="col-10">
                          <div class="body">
                            <h4>John Travolta <span><i class="fa fa-clock-o" aria-hidden="true"></i> 02:35 PM</span>
                            </h4>
                            <h5>Comfortable Villa in Green</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero illo a praesentium
                              veritatis
                              recusandae</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="messages">
                      <div class="row">
                        <div class="col-2">
                          <div class="image">
                            <img src="../../../assets/img/rect-1.png" />
                          </div>
                        </div>
                        <div class="col-10">
                          <div class="body">
                            <h4>John Travolta <span><i class="fa fa-clock-o" aria-hidden="true"></i> 02:35 PM</span>
                            </h4>
                            <h5>Comfortable Villa in Green</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero illo a praesentium
                              veritatis
                              recusandae</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="messages">
                      <div class="row">
                        <div class="col-2">
                          <div class="image">
                            <img src="../../../assets/img/rect-1.png" />
                          </div>
                        </div>
                        <div class="col-10">
                          <div class="body">
                            <h4>John Travolta <span><i class="fa fa-clock-o" aria-hidden="true"></i> 02:35 PM</span>
                            </h4>
                            <h5>Comfortable Villa in Green</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero illo a praesentium
                              veritatis
                              recusandae</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-7 pl-4">
                <div class="right-panel" *ngIf="!showMainContent">
                  <div class="user-card">
                    <div class="row">
                      <div class="col-2 pr-0">
                        <div class="image">
                          <img src="../../../assets/img/rect-1.png" />
                        </div>
                      </div>
                      <div class="col-10">
                        <div class="row">
                          <div class="col-7">
                            <div class="user_d">
                              <h5>Alan Walker</h5>
                              <p>from: <span>alanwalker@gmail.com</span></p>
                            </div>
                          </div>
                          <div class="col-4 pl-0 pr-0">
                            <div class="text-right">
                              <p><i class="fa fa-clock-o" aria-hidden="true"></i> 02:35 PM</p>
                              <p>Monday, 31 May 2021</p>
                            </div>
                          </div>
                          <div class="col-1 pl-0 text-right">
                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <select class="form-select" aria-label="Default select example">
                              <option selected>Canned Response</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mail-body">
                    <h5>You Can send the lead magnet promotion email</h5>
                    <p>Hi Agent,</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat assumenda aperiam distinctio
                      accusamus
                      minima eaque quibusdam, sed, modi nobis necessitatibus blanditiis alias adipisci fugit pariatur,
                      nostrum
                      facere deserunt quam praesentium.</p>
                    <p>Thankyou for your business and [well wishes relevant to your offering]!</p>
                    <p>The John</p>
                    <p>555-283-1234</p>
                  </div>
                  <div class="reply-box">
                    <div class="form-group">
                      <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <div class="bottom-area">
                      <div>
                        <img class="mr-3" src="../../../assets/img/image.png" />
                        <img src="../../../assets/img/attach.png" />
                      </div>
                      <button class="btn btn-primary">send</button>
                    </div>
                  </div>
                </div>

                <div class="compose-box" *ngIf="showMainContent">
                  <button class="btn btn-primary">New Message</button>
                  <form>
                    <div class="form-group">
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter email">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Subject">
                    </div>
                    <div class="compose-body">
                      <div class="form-group">
                        <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="12"
                          placeholder="Compose Mail"></textarea>
                      </div>
                      <div class="bottom-area">
                        <div>
                          <img class="mr-3" src="../../../assets/img/image.png" />
                          <img src="../../../assets/img/attach.png" />
                        </div>
                        <button class="btn btn-primary">send</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div class="signature" *ngIf="showTab == 3">
            <div class="row">
              <div class="col-7">
                <div class="add-signature">
                  <h4>Add Signature</h4>
                  <form>
                    <div class="compose-body">
                      <div class="form-group">
                        <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="10"
                          placeholder="Compose Mail"></textarea>
                      </div>
                      <div class="bottom-area">
                        <div>
                          <img src="../../../assets/img/image.png" />
                          <img src="../../../assets/img/attach.png" />
                          <i class="fa fa-bold" aria-hidden="true"></i>
                          <i class="fa fa-italic" aria-hidden="true"></i>
                          <i class="fa fa-underline" aria-hidden="true"></i>
                          <i class="fa fa-align-left" aria-hidden="true"></i>
                          <i class="fa fa-align-center" aria-hidden="true"></i>
                          <i class="fa fa-align-right" aria-hidden="true"></i>
                        </div>
                        <button class="btn btn-primary">save</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-5">
                <div class="saved-signature">
                  <h4>Saved Signature</h4>
                  <div class="saved-sign">
                    <div class="sign">
                      <h5>John Doe</h5>
                      <p>Sales &amp; Marketting Director</p>
                    </div>
                    <div class="image">
                      <img src="../../../assets/img/remove.png" />
                    </div>
                  </div>
                  <div class="saved-sign">
                    <div class="sign">
                      <h5>John Doe</h5>
                      <p>Sales &amp; Marketting Director</p>
                    </div>
                    <div class="image">
                      <img src="../../../assets/img/remove.png" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="canned-response" *ngIf="showTab == 4">
            <div class="row">
              <div class="col-7">
                <div class="add-signature">
                  <h4>Canned Response</h4>
                  <form>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Subject">
                      </div>
                    <div class="compose-body">
                      <div class="form-group mt-2">
                        <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="8"
                          placeholder="Compose Mail"></textarea>
                      </div>
                      <div class="bottom-area">
                        <div>
                          <img src="../../../assets/img/image.png" />
                          <img src="../../../assets/img/attach.png" />
                          <i class="fa fa-bold" aria-hidden="true"></i>
                          <i class="fa fa-italic" aria-hidden="true"></i>
                          <i class="fa fa-underline" aria-hidden="true"></i>
                          <i class="fa fa-align-left" aria-hidden="true"></i>
                          <i class="fa fa-align-center" aria-hidden="true"></i>
                          <i class="fa fa-align-right" aria-hidden="true"></i>
                        </div>
                        <button class="btn btn-primary">save</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-5">
                <div class="saved-response">
                  <h4>Saved Response</h4>
                  <div class="saved-sign">
                    <div class="sign">
                      <h5>John Doe</h5>
                      <p>Sales &amp; Marketting Director</p>
                    </div>
                    <div class="image">
                      <img src="../../../assets/img/remove.png" />
                    </div>
                  </div>
                  <div class="saved-sign">
                    <div class="sign">
                      <h5>John Doe</h5>
                      <p>Sales &amp; Marketting Director</p>
                    </div>
                    <div class="image">
                      <img src="../../../assets/img/remove.png" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

    </div>
  </div>
</section>
