<footer>
    <div class="container">
        <div class="logo">
            <img src="../../assets/img/real5-logo.png" alt="">
        </div>
        <p>We’re reimagining how you buy, sell and rent. It’s now easier to get into a place you love. So let’s do this, together.</p>
        <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">User's Guide</a></li>
            <li><a href="#">Support Center</a></li>
            <li><a href="#">Privacy Policy</a></li>
        </ul>
        <div class="app_download">
            <img src="../../assets/img/google-play-store.png" alt="" class="play_store">
            <img src="../../assets/img/app-store.png" alt="" class="app_store">
        </div>
        <hr>
        <p class="big-text">© 2021 real5. All rights reserved.</p>
    </div>
</footer>