@import "../../../assets/scss/variable.scss";

.crm-email {
  padding: 0;
  background-color: $grayColor1;

  .crm-section {
    width: 1230px;
    margin: 0 auto;

    .row {
      background-color: #fff;
      padding: .5rem .25rem;
    }

    h6 {
      font-size: 1.275rem !important;
      font-weight: 600;
      color: #000;
      padding: 0 !important;
    }

    .btn-primary {
      padding: 5px 10px;
      font-size: 14px;
      font-weight: normal;
    }

  }

  .dis-flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    h6 {
      padding: 0;
      margin: 0;
      border: none;
      font-weight: 700;
    }

    button {
      margin: 0;
      font-weight: 400;
    }

    .btn-primary {
      background-color: #E7FEFF;
      color: #000;
      border-color: #E7FEFF;
    }

    i {
      font-size: 1.2rem;
      padding-top: 10px;
      color: #000;
    }

    .badge {
      width: 10px;
      height: 10px;
      background-color: #1AC7CF;
      border-radius: 20px;
      position: absolute;
      top: 10px;
      right: 14px;
    }

  }

  .d-flex {
    align-content: center;
  }


  .crm-body {
    padding: 1rem 0;
    background-color: #fff;
    width: 1140px;
    margin: 2rem auto 0;

    .left-panel {
      height: 100%;
      background-color: $grayColor1;
      padding: 1rem;

      button {
        padding: 5px 10px;
        font-weight: 700;
      }

      ul {
        margin-top: 3rem;
        margin-left: -3.35rem;
        list-style-type: none;

        li {
          margin-bottom: 1.5rem;
          font-weight: 500;
          font-size: 1rem;
          padding-left: .5rem;
          white-space: nowrap;
          cursor: pointer;  
          i {
            margin-right: .25rem;
            color: #8C8C8C;
          }
        }

        li.active {
          color: #1AC7CF;
          border-left: 4px solid #1AC7CF;
          i{
              color: #1AC7CF;
          }
        }
      }
    }
    .inbox{
        width: 100%;
    }
    .scroll {

      overflow-y: auto;

      height: 50vw;
      width: 100%;

      /* width */
      &::-webkit-scrollbar {
        width: 10px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #888;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }

      .mid-panel {
        height: 100%;
        width: 98%;

        .search_bar {
          display: inline-block;
          width: 98%;
          margin-top: -2.2rem;

          .has-search .form-control {
            padding-left: 2.375rem;
            position: relative;

          }

          .has-search .form-control-feedback {
            position: relative;
            top: 68px;
            z-index: 2;
            display: block;
            width: 2.375rem;
            height: 2.375rem;
            line-height: 1;
            text-align: center;
            pointer-events: none;
            color: #aaa;
            margin-top: 0rem;

          }
        }

        .sort {
          margin-left: 1rem;
          display: inline-block;
        }

        h5 {
          font-size: 1.2rem;
          font-weight: 700;
          color: #000;
        }

        .messages {
          background-color: $grayColor1;
          padding: 1rem .5rem;
          border-radius: 20px;
          margin-bottom: .75rem;

          .image {
            img {
              width: 50px;
              height: 50px;
              border-radius: 40px;
            }
          }

          .body {
            h4 {
              font-size: 1.1rem;
              color: #1AC7CF;
              font-weight: 700;
              margin: 0;
              line-height: 1;

              span {
                font-size: .875rem;
                color: #8C8C8C;
                float: right;
                margin-right: 5px;
                font-weight: 400;

                i {
                  font-size: inherit;
                  color: inherit;
                }
              }
            }

            h5 {
              font-size: 1rem;
              color: #000;
              font-weight: 700;
            }

            p {
              font-size: .975rem;
            }
          }
        }
      }
    }

    .right-panel {
      height: 100%;

      .user-card {
        padding-bottom: 2rem;
        border-bottom: 1px solid #8C8C8C;

        .image img {
          width: 70px;
          height: 70px;
          border-radius: 40px;
        }
      }

      .user_d {
        h5 {
          font-size: 1.2rem;
          font-weight: 700;
          color: #1AC7CF;
          line-height: 1;
          margin-top: 10px;
        }
      }

      .text-right {
        p {
          font-size: .875rem;

          i {
            font-size: inherit;
            color: inherit;
            margin-right: 5px;
          }
        }
      }

      .form-select {
        width: 100%;
        height: 50px;
        padding: 5px;
      }

      .mail-body {
        h5 {
          font-size: 1.2rem;
          color: #000;
          font-weight: 700;
          margin-top: 1rem;
          margin-bottom: 1rem;
        }

        p {
          font-size: .875rem;
          color: #000;
          font-weight: 400;
        }

        p:first-of-type {
          margin-bottom: 3rem;
        }

        p:nth-last-child(2) {
          margin-top: 3rem;
        }
      }

      .reply-box {
        border: 1px solid #8C8C8C;
        border-radius: 10px;
        position: absolute;
        bottom: 0;
        width: 92%;

        .form-group {
          border: none;
          border-radius: 10px;
          margin: 0;

          textarea.form-control {
            border: none;
            border-radius: 10px !important;
            resize: none;
            background-color: #fff;
          }

          .form-control:focus {
            border: none !important;
            box-shadow: none !important;
          }
        }

        .bottom-area {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 0 5px;
          padding: 5px;
          border-top: 1px solid #8C8C8C;

          .btn-primary {
            padding: 2px 10px;
            font-size: 12px;
          }
        }
      }
    }

    .compose-box {
      height: 100%;

      >.btn-primary {
        width: 100%;
        border-radius: 10px 10px 0 0;
        margin-bottom: 10px;
      }

      form {
        height: auto;

        .compose-body {
          height: auto;
          border: 1px solid #dcdcdc;
          border-radius: 2px;

          .form-group {
            height: auto;
            margin-bottom: 0;

            textarea {
              resize: none;
              height: auto;
              background-color: #fff;
              border: none;
            }

            textarea:focus {
              box-shadow: none;
              border-color: transparent;
            }
          }

          .bottom-area {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 5px;
            padding: 5px;
            border-top: 1px solid #dcdcdc;

            .btn-primary {
              padding: 2px 10px;
              font-size: 12px;
            }
          }
        }

        .compose-body:focus,
        .compose-body:active,
        .compose-body:focus {
          border-color: #80bdff;
          box-shadow: 0 0 0 0.2rem #007bff40;
        }
      }
    }

    .add-signature {
      h4 {
        font-size: 1.2rem;
        color: #000;
        font-weight: 700;
      }

      form {
        height: auto;

        .compose-body {
          height: auto;
          border: 1px solid #dcdcdc;
          border-radius: 2px;

          .form-group {
            height: auto;
            margin-bottom: 0;

            textarea {
              resize: none;
              height: auto;
              background-color: #fff;
              border: none;
            }

            textarea:focus {
              box-shadow: none;
              border-color: transparent;
            }
          }

          .bottom-area {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 5px;
            padding: 5px;
            border-top: 1px solid #dcdcdc;

            div {
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 60%;
            }

            .btn-primary {
              padding: 2px 10px;
              font-size: 12px;
            }
          }
        }
      }
    }

    .saved-signature {
      h4 {
        font-size: 1.2rem;
        color: #000;
        font-weight: 700;
      }

      .saved-sign {
        background-color: $grayColor1;
        padding: 1rem;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        .sign{
            h5 {
                font-size: 1rem;
                color: #000;
                font-weight: 700;
                line-height: 1.2;
                margin-top: 1rem;
              }
      
              p {
                color: #1AC7CF;
                font-weight: 400;
              }
        }
        .image {
            img{
                width: 20px;
            }
        }
      }
    }
  }

  .add-signature {
      h4 {
        font-size: 1.2rem;
        color: #000;
        font-weight: 700;
      }

      form {
        height: auto;
        .form-group{
            input{
                background-color: #fff;
            }
        }
        .form-control:focus{
            border-color: #8C8C8C;
            box-shadow: none;
        }
        .compose-body {
          height: auto;
          border: 1px solid #dcdcdc;
          border-radius: 2px;

          .form-group {
            height: auto;
            margin-bottom: 0;

            textarea {
              resize: none;
              height: auto;
              background-color: #fff;
              border: none;
            }

            textarea:focus {
              box-shadow: none;
              border-color: #8C8C8C !important;
            }
          }

          .bottom-area {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 5px;
            padding: 5px;
            border-top: 1px solid #dcdcdc;

            div {
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 60%;
            }

            .btn-primary {
              padding: 2px 10px;
              font-size: 12px;
            }
          }
        }
        .compose-body:focus, .compose-body:active{
            border-color: #8C8C8C !important;
        }
      }
    }

    .saved-response {
      h4 {
        font-size: 1.2rem;
        color: #000;
        font-weight: 700;
      }

      .saved-sign {
        background-color: $grayColor1;
        padding: 1rem;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        .sign{
            h5 {
                font-size: 1rem;
                color: #000;
                font-weight: 700;
                line-height: 1.2;
                margin-top: 1rem;
              }
      
              p {
                color: #1AC7CF;
                font-weight: 400;
              }
        }
        .image {
            img{
                width: 20px;
            }
        }
      }
    }
}
