<app-header></app-header>
<nav class="breadcrumb-nav" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Aout</li>
    </ol>
  </div>
</nav>
<section class="about_sec">
  <div class="container">
    <h2><strong>User's Guide</strong></h2>
    <div class="user_card_area">
      <div class="row">
        <div class="col-md-3">
          <div class="user_card">
            <img src="../../assets/img/customer-service.svg" alt="">
            <p>Buying and Item Support</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="user_card">
            <img src="../../assets/img/document.svg" alt="">
            <p>Copyright and Trademarks</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="user_card">
            <img src="../../assets/img/income.svg" alt="">
            <p>Tax & Compliance</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="user_card">
            <img src="../../assets/img/card.svg" alt="">
            <p>Your Account</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>