<app-header></app-header>
<nav class="breadcrumb-nav" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">About</li>
    </ol>
  </div>
</nav>
<section class="about_sec">
  <div class="container">
    <h2><strong>User's Guide</strong></h2>
    <div class="search_input">
      <input type="text" placeholder="Search Topic">
      <img src="../../assets/img/search.png" alt="">
    </div>
    <div class="user_card_area">
      <div class="row">
        <div class="col-md-3">
          <div class="user_card">
            <img src="../../assets/img/customer-service.svg" alt="">
            <p>Buying and Item Support</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="user_card">
            <img src="../../assets/img/document.svg" alt="">
            <p>Copyright and Trademarks</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="user_card">
            <img src="../../assets/img/income.svg" alt="">
            <p>Tax & Compliance</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="user_card">
            <img src="../../assets/img/card.svg" alt="">
            <p>Your Account</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="faq_section">
  <div class="container">
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Collapsible Group Item #1
              <img src="../../assets/img/plus.png" alt="">
            </button>
          </h2>
        </div>
    
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            Some placeholder content for the first accordion panel. This panel is shown by default, thanks to the <code>.show</code> class.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Collapsible Group Item #2
              <img src="../../assets/img/plus.png" alt="">
            </button>
          </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            Some placeholder content for the second accordion panel. This panel is hidden by default.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Collapsible Group Item #3
              <img src="../../assets/img/plus.png" alt="">
            </button>
          </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            And lastly, the placeholder content for the third and final accordion panel. This panel is hidden by default.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>