<app-header></app-header>
<div class="property_list">
  <div class="container">
    <div class="head">
      <div class="row">
        <div class="col-md-10">
          <h3><span>Featured</span> Properties</h3>
          <button class="btn btn-primary ml-3">
            <img src="../../assets/img/location-on-map.png" /> View Map
          </button>
        </div>
        <div class="col-xl-2">
          <div class="sort">
            <p>
              <b>Sort by</b>: Default Sorting
              <i class="fa fa-caret-down" aria-hidden="true"></i>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="property_body">
      <div class="third_tab">
        <div class="listing_body">
          <div class="row mb-3">
            <div class="col-xl-3 col-md-4 mb-3 width-d">
              <div class="card">
                <img
                  class="img-fluid"
                  alt="100%x280"
                  src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d"
                />
                <div class="card-body">
                  <div class="cost">
                    <p>$130,000</p>
                    <p><img src="../../assets/img/heart.png" /></p>
                  </div>
                  <h4 class="card-title">
                    Headland Semi Detached Bungalow To Rent
                  </h4>
                  <p class="card-text">
                    <i class="fa fa-map-marker" aria-hidden="true"></i> 808 S
                    Michigan Ave,Chicago, IL, 60605.
                  </p>
                  <div class="featured">
                    <div class="row4">
                      <div class="col4">
                        <p>
                          <img src="../../assets/img/bed.png" alt="bed" /> 05
                          bed
                        </p>
                      </div>
                      <div class="col4">
                        <p>
                          <img src="../../assets/img/bath.png" alt="bed" /> 04
                          Bath
                        </p>
                      </div>
                      <div class="col4">
                        <p>
                          <img src="../../assets/img/Group2309.png" alt="bed" />
                          587 sqft
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-4 mb-3 width-d">
              <div class="card">
                <img
                  class="img-fluid"
                  alt="100%x280"
                  src="https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=42b2d9ae6feb9c4ff98b9133addfb698"
                />
                <div class="card-body">
                  <div class="cost">
                    <p>$130,000</p>
                    <p><img src="../../assets/img/heart.png" /></p>
                  </div>
                  <h4 class="card-title">
                    Headland Semi Detached Bungalow To Rent
                  </h4>
                  <p class="card-text">
                    <i class="fa fa-map-marker" aria-hidden="true"></i> 808 S
                    Michigan Ave,Chicago, IL, 60605.
                  </p>
                  <div class="featured">
                    <div class="row4">
                      <div class="col4">
                        <p>
                          <img src="../../assets/img/bed.png" alt="bed" /> 05
                          bed
                        </p>
                      </div>
                      <div class="col4">
                        <p>
                          <img src="../../assets/img/bath.png" alt="bed" /> 04
                          Bath
                        </p>
                      </div>
                      <div class="col4">
                        <p>
                          <img src="../../assets/img/Group2309.png" alt="bed" />
                          587 sqft
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-4 mb-3">
              <div class="card">
                <img
                  class="img-fluid"
                  alt="100%x280"
                  src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a"
                />
                <div class="card-body">
                  <div class="cost">
                    <p>$130,000</p>
                    <p><img src="../../assets/img/heart.png" /></p>
                  </div>
                  <h4 class="card-title">
                    Headland Semi Detached Bungalow To Rent
                  </h4>
                  <p class="card-text">
                    <i class="fa fa-map-marker" aria-hidden="true"></i> 808 S
                    Michigan Ave,Chicago, IL, 60605.
                  </p>
                  <div class="featured">
                    <div class="row4">
                      <div class="col4">
                        <p>
                          <img src="../../assets/img/bed.png" alt="bed" /> 05
                          bed
                        </p>
                      </div>
                      <div class="col4">
                        <p>
                          <img src="../../assets/img/bath.png" alt="bed" /> 04
                          Bath
                        </p>
                      </div>
                      <div class="col4">
                        <p>
                          <img src="../../assets/img/Group2309.png" alt="bed" />
                          587 sqft
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-4 mb-3">
              <div class="card">
                <img
                  class="img-fluid"
                  alt="100%x280"
                  src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a"
                />
                <div class="card-body">
                  <div class="cost">
                    <p>$130,000</p>
                    <p><img src="../../assets/img/heart.png" /></p>
                  </div>
                  <h4 class="card-title">
                    Headland Semi Detached Bungalow To Rent
                  </h4>
                  <p class="card-text">
                    <i class="fa fa-map-marker" aria-hidden="true"></i> 808 S
                    Michigan Ave,Chicago, IL, 60605.
                  </p>
                  <div class="featured">
                    <div class="row4">
                      <div class="col4">
                        <p>
                          <img src="../../assets/img/bed.png" alt="bed" /> 05
                          bed
                        </p>
                      </div>
                      <div class="col4">
                        <p>
                          <img src="../../assets/img/bath.png" alt="bed" /> 04
                          Bath
                        </p>
                      </div>
                      <div class="col4">
                        <p>
                          <img src="../../assets/img/Group2309.png" alt="bed" />
                          587 sqft
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-4 mb-3">
              <div class="card">
                <img
                  class="img-fluid"
                  alt="100%x280"
                  src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a"
                />
                <div class="card-body">
                  <div class="cost">
                    <p>$130,000</p>
                    <p><img src="../../assets/img/heart.png" /></p>
                  </div>
                  <h4 class="card-title">
                    Headland Semi Detached Bungalow To Rent
                  </h4>
                  <p class="card-text">
                    <i class="fa fa-map-marker" aria-hidden="true"></i> 808 S
                    Michigan Ave,Chicago, IL, 60605.
                  </p>
                  <div class="featured">
                    <div class="row4">
                      <div class="col4">
                        <p>
                          <img src="../../assets/img/bed.png" alt="bed" /> 05
                          bed
                        </p>
                      </div>
                      <div class="col4">
                        <p>
                          <img src="../../assets/img/bath.png" alt="bed" /> 04
                          Bath
                        </p>
                      </div>
                      <div class="col4">
                        <p>
                          <img src="../../assets/img/Group2309.png" alt="bed" />
                          587 sqft
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-4 mb-3 width-d">
              <div class="card">
                <img
                  class="img-fluid"
                  alt="100%x280"
                  src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d"
                />
                <div class="card-body">
                  <div class="cost">
                    <p>$130,000</p>
                    <p><img src="../../assets/img/heart.png" /></p>
                  </div>
                  <h4 class="card-title">
                    Headland Semi Detached Bungalow To Rent
                  </h4>
                  <p class="card-text">
                    <i class="fa fa-map-marker" aria-hidden="true"></i> 808 S
                    Michigan Ave,Chicago, IL, 60605.
                  </p>
                  <div class="featured">
                    <div class="row4">
                      <div class="col4">
                        <p>
                          <img src="../../assets/img/bed.png" alt="bed" /> 05
                          bed
                        </p>
                      </div>
                      <div class="col4">
                        <p>
                          <img src="../../assets/img/bath.png" alt="bed" /> 04
                          Bath
                        </p>
                      </div>
                      <div class="col4">
                        <p>
                          <img src="../../assets/img/Group2309.png" alt="bed" />
                          587 sqft
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-4 mb-3 width-d">
              <div class="card">
                <img
                  class="img-fluid"
                  alt="100%x280"
                  src="https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=42b2d9ae6feb9c4ff98b9133addfb698"
                />
                <div class="card-body">
                  <div class="cost">
                    <p>$130,000</p>
                    <p><img src="../../assets/img/heart.png" /></p>
                  </div>
                  <h4 class="card-title">
                    Headland Semi Detached Bungalow To Rent
                  </h4>
                  <p class="card-text">
                    <i class="fa fa-map-marker" aria-hidden="true"></i> 808 S
                    Michigan Ave,Chicago, IL, 60605.
                  </p>
                  <div class="featured">
                    <div class="row4">
                      <div class="col4">
                        <p>
                          <img src="../../assets/img/bed.png" alt="bed" /> 05
                          bed
                        </p>
                      </div>
                      <div class="col4">
                        <p>
                          <img src="../../assets/img/bath.png" alt="bed" /> 04
                          Bath
                        </p>
                      </div>
                      <div class="col4">
                        <p>
                          <img src="../../assets/img/Group2309.png" alt="bed" />
                          587 sqft
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-4 mb-3">
              <div class="card">
                <img
                  class="img-fluid"
                  alt="100%x280"
                  src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a"
                />
                <div class="card-body">
                  <div class="cost">
                    <p>$130,000</p>
                    <p><img src="../../assets/img/heart.png" /></p>
                  </div>
                  <h4 class="card-title">
                    Headland Semi Detached Bungalow To Rent
                  </h4>
                  <p class="card-text">
                    <i class="fa fa-map-marker" aria-hidden="true"></i> 808 S
                    Michigan Ave,Chicago, IL, 60605.
                  </p>
                  <div class="featured">
                    <div class="row4">
                      <div class="col4">
                        <p>
                          <img src="../../assets/img/bed.png" alt="bed" /> 05
                          bed
                        </p>
                      </div>
                      <div class="col4">
                        <p>
                          <img src="../../assets/img/bath.png" alt="bed" /> 04
                          Bath
                        </p>
                      </div>
                      <div class="col4">
                        <p>
                          <img src="../../assets/img/Group2309.png" alt="bed" />
                          587 sqft
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="paginator">
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-end">
                    <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link active" href="#">2</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">Next</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
