<app-header></app-header>

<nav class="breadcrumb-nav" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Sell</li>
    </ol>
  </div>
</nav>

<section class="sell_roperty">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="left-panel">
          <h3>Sell Property Online</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          <ul>
            <li>Unlimited free listings</li>
            <li>Pay as you earn</li>
            <li>Stand out amongst peers</li>
          </ul>
          <div class="row">
            <div class="col-6">
              <button class="btn btn-primary btn-person"><img src="../../assets/img/hand-shake-sell.png" /> Tour in
                Person</button>
            </div>
            <div class="col-6">
              <button class="btn btn-primary btn-video"><img src="../../assets/img/video-calling.png" /> Tour Via Video
                Cha</button>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button class="btn btn-primary btn-schedule">Schedule a consultation</button>
              <p>Questions? <span>Meet with a Real5 Agent now.</span></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="right-panel">
          <div class="row">
            <div class="col-5">
              <div class="image">
                <img src="../../assets/img/map-img.PNG" />
              </div>
            </div>
            <div class="col-7">
              <div class="price">
                <p>Estimate price</p>
                <p>$3000 - $13000</p>
              </div>
              <div class="aprt_detail">
                <h5>Big Luxury Apartment</h5>
                <p><img src="../../assets/img/bell.png" /> 808 S Michigan Ave,Chicago</p>
                <ul>
                  <li>4 Bed</li>
                  <li>2 Bath</li>
                  <li>1325 sqft</li>
                </ul>
              </div>
              <div class="days">
                <h4>Last 30 days</h4>
                <p>Based on 2 bed single family homes in 1234</p>
                <div class="details">
                  <table>
                    <tr>
                      <td>Somilar sold</td>
                      <td>3 homes</td>
                    </tr>
                    <tr>
                      <td>Median sale price</td>
                      <td>$1700</td>
                    </tr>
                    <tr>
                      <td>Median price</td>
                      <td>$1500</td>
                    </tr>
                    <tr>
                      <td>Days market</td>
                      <td>5 Days</td>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
