@import "../../assets/scss/variable.scss";

.agent_profile {
    padding: 3rem 0;
    .agent_profile_area {
        box-shadow: 0px 0px 28px #0000000f;
        padding: 2rem;
        border-radius: 0;
        margin-bottom: 2rem;
        img {
            width: 100%;
        }
        .agent_content {
            padding-left: 2rem;
            h3 {
                font-weight: 600;
                font-size: 2rem;
                line-height: 1.5;
                color: #000;
            }
            h4 {
                font-size: 1.25rem;
                border-bottom: 1px solid #ddd;
                line-height: 1.5;
                margin-bottom: 1rem;
                padding-bottom: 1rem;
                strong {
                    font-weight: 600;
                    color: #000;
                }
            }
            p {
                font-size: 1rem;
                color: #8c8c8c;
                margin-bottom: 0.5rem;
                strong {
                    font-weight: 600;
                    color: #000;
                }
            }
            .contact_detail {
                margin-top: 2rem;
            }
        }
    }
    .agent_property {
        padding: 2rem 0;
        .agent_contact {
            box-shadow: 0px 0px 28px #0000000f;
            padding: 2rem;
            border-radius: 0;
            margin-bottom: 2rem;
            h4 {
                font-size: 1.5rem;
                font-weight: 500;
            }
            button {
                display: block;
                margin-left: auto;
            }
        }
    }
    .agent_map {
        padding: 1rem;
        box-shadow: 0px 0px 28px #0000000f;
        border-radius: 0;
        img {
            width: 100%;
        }
    }
}

.listing_body {
    margin: 0 auto;

    .card {
        border: none;
        margin-bottom: 1rem;
        > img {
            width: auto;
            height: auto;
        }
        .card-body {
            box-shadow: 0px 12px 18px #00000014;
            width: 100%;
            margin: 0 auto 0;
            border: none;
            z-index: 10;
            background-color: #fff;
            padding-bottom: 0.5rem;
            padding-right: 1rem;
            position: relative;

            .cost {
                display: flex;
                justify-content: space-between;
                position: absolute;
                top: -30px;
                left: 00px;
                align-items: center;
                width: 100%;
                padding: 0 0.5rem;
                p {
                    margin: 0;
                    font-size: 22px;
                    color: #1ac7cf;
                    font-weight: 700;
                }
                p:first-of-type {
                    color: #1ac7cf;
                    font-size: 24px;
                    font-weight: 700;
                }
            }
            h6 {
                color: #1ac7cf;
                line-height: 1;
                margin: 0 0 8px;
            }

            h4 {
                font-size: 20px;
                color: #03101f;
                font-weight: 700;
                line-height: 1;
                margin: 0 0 1rem;
            }

            p {
                font-size: 14px;
                color: #8c8c8c;
                line-height: 18px;
                margin: 0 0 1rem;
            }

            .featured {
                border-top: 1px dotted #8c8c8c;
                padding-top: 1rem;

                .row4 {
                    display: flex !important;
                    align-content: flex-start;
                    justify-content: space-between;
                    align-items: flex-start;
                    width: 100%;

                    div {
                        padding: 0 2px;

                        p {
                            font-size: 16px !important;
                            color: #000 !important;
                            font-weight: 500;

                            img {
                                width: 17px;
                                height: 17px;
                            }
                        }
                    }
                }
            }
        }
    }
}
.paginator .pagination {
    background-color: $grayColor1;
}

.paginator .pagination {
    padding: 1rem 0 0;

    a {
        border: none;
        background-color: transparent;
        font-size: 20px;
        color: #000;
        font-weight: 500;
    }
}

.paginator .pagination a.active {
    color: #1ac7cf;
    font-weight: 700;
}
