<app-agent-header></app-agent-header>
<div class="add_lead">
  <div class="lead_title">
    <h1>Add Lead</h1>
  </div>
  <div class="add_lead_area">
    <div class="container">
      <div class="lead_form">
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <label for="" class="control-label">Property Name</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group">
              <label for="" class="control-label">Property Description</label>
              <textarea rows="4" class="form-control"></textarea>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="" class="control-label">Address</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="" class="control-label">Address 2</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="" class="control-label">District</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="" class="control-label">State</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="" class="control-label">Country</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="" class="control-label">Pincode</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="" class="control-label">Type</label>
              <select class="form-control">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="" class="control-label">Condo</label>
              <select class="form-control">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="" class="control-label">Townhome</label>
              <select class="form-control">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="" class="control-label">House</label>
              <select class="form-control">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="" class="control-label">Price</label>
              <select class="form-control">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="" class="control-label">Bedrooms</label>
              <select class="form-control">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="" class="control-label">Total Rooms</label>
              <select class="form-control">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="" class="control-label">Half Bathrooms</label>
              <select class="form-control">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="" class="control-label">Pool</label>
              <select class="form-control">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="" class="control-label">Outdoor kitchen/ BBQ built in</label>
              <select class="form-control">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="" class="control-label">Flooring type</label>
              <select class="form-control">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="" class="control-label">Construction type</label>
              <select class="form-control">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="" class="control-label">Roof type</label>
              <select class="form-control">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="" class="control-label">Condition</label>
              <select class="form-control">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="" class="control-label">Year built</label>
              <select class="form-control">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="" class="control-label">Type of heat and cooling</label>
              <select class="form-control">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="" class="control-label">Area</label>
              <select class="form-control">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="" class="control-label">Near by</label>
              <select class="form-control">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <h2>Add Amenities</h2>
      <div class="lead_form">
        <div class="row">
          <div class="col-lg-4">
            <label class="container_c"> Internet
              <input type="checkbox" checked="checked">
              <span class="checkmark_c"></span>
            </label>
          </div>
          <div class="col-lg-4">
            <label class="container_c"> Garage
              <input type="checkbox" checked="checked">
              <span class="checkmark_c"></span>
            </label>
          </div>
          <div class="col-lg-4">
            <label class="container_c"> Elevator
              <input type="checkbox" checked="checked">
              <span class="checkmark_c"></span>
            </label>
          </div>
          <div class="col-lg-4">
            <label class="container_c"> Air Conditioning
              <input type="checkbox" checked="checked">
              <span class="checkmark_c"></span>
            </label>
          </div>
          <div class="col-lg-4">
            <label class="container_c"> Pool
              <input type="checkbox" checked="checked">
              <span class="checkmark_c"></span>
            </label>
          </div>
          <div class="col-lg-4">
            <label class="container_c"> Dishwasher
              <input type="checkbox" checked="checked">
              <span class="checkmark_c"></span>
            </label>
          </div>
          <div class="col-lg-4">
            <label class="container_c"> Disposal
              <input type="checkbox" checked="checked">
              <span class="checkmark_c"></span>
            </label>
          </div>
          <div class="col-lg-4">
            <label class="container_c"> Fireplace
              <input type="checkbox" checked="checked">
              <span class="checkmark_c"></span>
            </label>
          </div>
          <div class="col-lg-4">
            <label class="container_c"> Balcony
              <input type="checkbox" checked="checked">
              <span class="checkmark_c"></span>
            </label>
          </div>
        </div>
      </div>
      <h2>Property Media</h2>
      <div class="upload_form">
        <input type="file">
        <div class="upload_img">
          <img src="../../../assets/img/file.png" alt="   ">
          <p>Upload Images</p>
        </div>
      </div>
      <h2>Property Video</h2>
      <div class="upload_form">
        <input type="file">
        <div class="upload_img">
          <img src="../../../assets/img/file.png" alt="   ">
          <p>Upload Images</p>
        </div>
      </div>
      <h2>Other Detail</h2>
      <div class="lead_form">
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <label for="" class="control-label">Broker Comission</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group">
              <label for="" class="control-label">Other Notable Things</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group">
              <label for="" class="control-label">Additional Notes</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="" class="control-label">Lattitude</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="" class="control-label">Longitude</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <div class="text-right">
        <button class="btn btn-primary" style="min-width: 30%;">Add</button>
      </div>
    </div>
  </div>
</div>
<button class="btn btn-primary" data-toggle="modal" data-target="#inactive-acc">Inactive Acc</button>
<button class="btn btn-primary" data-toggle="modal" data-target="#call-email">Call Email</button>
<button class="btn btn-primary" data-toggle="modal" data-target="#request-accept">Request Accept</button>
<button class="btn btn-primary" data-toggle="modal" data-target="#start-discussion">Start Discussion</button>

<!-- Inactive Account Modal -->
<div class="modal fade apply_loan_modal" id="inactive-acc" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header justify-content-center" style="padding: 10px">
        <h2>Are you sure you want to inactive account</h2>
      </div>
      <div class="modal-body" style="padding: 15px">
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <label for="" class="control-label">Write Reason</label>
              <textarea name="" id="" rows="6" class="form-control"></textarea>
            </div>
          </div>
          <div class="col-lg-12">
              <button class="btn btn-primary btn-block">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Call Email Modal -->
<div class="modal fade apply_loan_modal" id="call-email" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header justify-content-center" style="padding: 10px">
        <h2>What would you prefer Call or Email</h2>
      </div>
      <div class="modal-body" style="padding: 15px">
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
                <ul class="call_email">
                    <li>
                        <img src="../../../assets/img/email-1.png" alt="">
                        <p>Email</p>
                    </li>
                    <li>
                        <img src="../../../assets/img/phone-receiver-silhouette.png" alt="">
                        <p>Call</p>
                    </li>
                </ul>
            </div>
          </div>
          <div class="col-lg-12">
              <button class="btn btn-primary btn-block">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Request Accept Modal -->
<div class="modal fade apply_loan_modal" id="request-accept" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body" style="padding: 3rem">
        <div class="row">
          <div class="col-lg-12">
            <h5 class="text-center"><strong>Are you sure you want to accept this request?</strong></h5>
          </div>
          <div class="col-lg-6">
              <button class="btn btn-primary btn-block">Yes</button>
          </div>
          <div class="col-lg-6">
              <button class="btn btn-primary btn-secondary btn-block">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Start Discussion Modal -->
<div class="modal fade apply_loan_modal" id="start-discussion" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header justify-content-center" style="padding: 10px">
        <h2>Start Discussion</h2>
      </div>
      <div class="modal-body" style="padding: 15px">
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <label for="" class="control-label">Topic Title</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group">
              <label for="" class="control-label">Details</label>
              <textarea name="" id="" rows="6" class="form-control"></textarea>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group">
              <input type="file">
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group">
              <label class="container_c"> Email when someone replies to this discussion
                <input type="checkbox" checked="checked">
                <span class="checkmark_c"></span>
              </label>
            </div>
          </div>
          <div class="col-lg-12">
              <button class="btn btn-primary btn-block">Start</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>