@import "../../assets/scss/variable.scss";


.property_list {
  padding: 3.5rem 0;
  background-color: $grayColor1;

  .container {
    @include xl {
      max-width: 1450px !important;
    }
  }

  .head {
    h3 {
      font-size: 25px;
      font-weight: 700;
      color: #03101f;
      margin: 0 0 3rem !important;
      display: inline-block;

      span {
        color: #1ac7cf;
      }
    }

    .btn-primary {
      height: 41px;
      border: 1px solid #1ac7cf;
      border-radius: 100px;
      background-color: #fff;
      padding: 0 20px;
      color: #1ac7cf;
      font-size: 14px;
      img {
        width: 18px;
        height: 18px;
      }
    }

    .text-right {
      margin-top: 2.5rem;

      @include sm {
        margin-top: -4rem;
      }

      a {
        img {
          width: 50px !important;
          height: 50px !important;
        }
      }
    }
  }

  .property_body {
    margin: 0 auto;

    h6 {
      width: 100% !important;
      padding: 0 0 2rem !important;
    }

    .sort {
      margin-left: 1rem;
      display: inline-block;
      text-align: right;
    }
  }
}

.listing_body {
  margin: 0 auto;

  .card {
    border: none;
    margin-bottom: 4rem;
    padding: 10px;
    border-radius: 0;
    box-shadow: 0px 12px 18px #00000014;
    border: 1px solid #ddd;
    > img {
      width: auto;
      height: auto;
    }
    .card-body {
      width: 100%;
      margin: 0 auto 0;
      border: none;
      z-index: 10;
      background-color: #fff;
      padding-bottom: 0.5rem;
      padding-right: 1rem;
      position: relative;
      padding-bottom: 3rem;

      .cost {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: -30px;
        left: 00px;
        align-items: center;
        width: 100%;
        padding: 0 0.5rem;
        p {
          margin: 0;
          font-size: 22px;
          color: #1ac7cf;
          font-weight: 700;
        }
        p:first-of-type {
          color: #1ac7cf;
          font-size: 24px;
          font-weight: 700;
        }
      }
      h6 {
        color: #1ac7cf;
        line-height: 1;
        margin: 0 0 8px;
      }

      h4 {
        font-size: 20px;
        color: #03101f;
        font-weight: 700;
        line-height: 1;
        margin: 0 0 1rem;
      }

      p {
        font-size: 14px;
        color: #8c8c8c;
        line-height: 18px;
        margin: 0 0 1rem;
      }

      .featured {
        border-top: 1px dotted #8c8c8c;
        padding-top: 1rem;

        .row4 {
          display: flex !important;
          align-content: flex-start;
          justify-content: space-between;
          align-items: flex-start;
          width: 100%;

          div {
            padding: 0 2px;

            p {
              font-size: 16px !important;
              color: #000 !important;
              font-weight: 500;

              img {
                width: 17px;
                height: 17px;
              }
            }
          }
        }
      }
    }
  }
}


.property_search {
  padding: 1rem 0;
  background-color: #fafafa;
  .form-control {
    height: 60px;
    background-color: #fff;
  }
  .search_bar {
    display: inline-block;
    width: 100%;
    img {
        width: 16px;
        position: absolute;
        left: 2rem;
        z-index: 1;
        top: 1.2rem;
    }
    .has-search .form-control {
      padding-left: 3.375rem;
      padding-right: 3.375rem;
      position: relative;
    }

    .has-search .form-control-feedback {
      position: absolute;
      z-index: 2;
      display: block;
      width: 2.375rem;
      height: 2.375rem;
      line-height: 2.375rem;
      text-align: center;
      pointer-events: none;
      color: #fff;
      right: 20px;
      top: 10px;
    }
  }

  .setting {
    text-align: center;
    img {
      width: 40px;
      filter: brightness(0) invert(1);
    }
  }
}
.prop_icon {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    left: 0;
    img {
        width: 90px;
        cursor: pointer;
    }
}