<app-header></app-header>
<nav class="breadcrumb-nav" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Swipe</li>
    </ol>
  </div>
</nav>
<div class="property_search">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-6 offset-2">
        <div class="search_bar">
          <div class="has-search">
            <img src="../../assets/img/location-pin.svg" alt="">
            <input type="text" class="form-control" placeholder="Location" />
          </div>
        </div>
      </div>
      <div class="col-2">
        <button class="btn btn-primary btn-block">Search</button>
      </div>
    </div>
  </div>
</div>

<div class="property_swiper">
  <swiper [effect]="'cards'" [grabCursor]="true" class="mySwiper">
    <ng-template swiperSlide>
      <div class="listing_body">
        <div class="card">
          <img class="img-fluid" alt="100%x280"
            src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d" />
          <div class="card-body">
            <div class="cost">
              <p>$130,000</p>
              <p><img src="../../assets/img/heart.png" /></p>
            </div>
            <h4 class="card-title">
              Headland Semi Detached Bungalow To Rent
            </h4>
            <p class="card-text">
              <i class="fa fa-map-marker" aria-hidden="true"></i> 808 S
              Michigan Ave,Chicago, IL, 60605.
            </p>
            <div class="featured">
              <div class="row4">
                <div class="col4">
                  <p>
                    <img src="../../assets/img/bed.png" alt="bed" /> 05
                    bed
                  </p>
                </div>
                <div class="col4">
                  <p>
                    <img src="../../assets/img/bath.png" alt="bed" /> 04
                    Bath
                  </p>
                </div>
                <div class="col4">
                  <p>
                    <img src="../../assets/img/Group2309.png" alt="bed" />
                    587 sqft
                  </p>
                </div>
              </div>
            </div>
            <div class="prop_icon">
              <img src="../../assets/img/heart.svg" alt="">
              <img src="../../assets/img/cancel.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="listing_body">
        <div class="card">
          <img class="img-fluid" alt="100%x280"
            src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d" />
          <div class="card-body">
            <div class="cost">
              <p>$130,000</p>
              <p><img src="../../assets/img/heart.png" /></p>
            </div>
            <h4 class="card-title">
              Headland Semi Detached Bungalow To Rent
            </h4>
            <p class="card-text">
              <i class="fa fa-map-marker" aria-hidden="true"></i> 808 S
              Michigan Ave,Chicago, IL, 60605.
            </p>
            <div class="featured">
              <div class="row4">
                <div class="col4">
                  <p>
                    <img src="../../assets/img/bed.png" alt="bed" /> 05
                    bed
                  </p>
                </div>
                <div class="col4">
                  <p>
                    <img src="../../assets/img/bath.png" alt="bed" /> 04
                    Bath
                  </p>
                </div>
                <div class="col4">
                  <p>
                    <img src="../../assets/img/Group2309.png" alt="bed" />
                    587 sqft
                  </p>
                </div>
              </div>
            </div>
            <div class="prop_icon">
              <img src="../../assets/img/heart.svg" alt="">
              <img src="../../assets/img/cancel.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="listing_body">
        <div class="card">
          <img class="img-fluid" alt="100%x280"
            src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d" />
          <div class="card-body">
            <div class="cost">
              <p>$130,000</p>
              <p><img src="../../assets/img/heart.png" /></p>
            </div>
            <h4 class="card-title">
              Headland Semi Detached Bungalow To Rent
            </h4>
            <p class="card-text">
              <i class="fa fa-map-marker" aria-hidden="true"></i> 808 S
              Michigan Ave,Chicago, IL, 60605.
            </p>
            <div class="featured">
              <div class="row4">
                <div class="col4">
                  <p>
                    <img src="../../assets/img/bed.png" alt="bed" /> 05
                    bed
                  </p>
                </div>
                <div class="col4">
                  <p>
                    <img src="../../assets/img/bath.png" alt="bed" /> 04
                    Bath
                  </p>
                </div>
                <div class="col4">
                  <p>
                    <img src="../../assets/img/Group2309.png" alt="bed" />
                    587 sqft
                  </p>
                </div>
              </div>
            </div>
            <div class="prop_icon">
              <img src="../../assets/img/heart.svg" alt="">
              <img src="../../assets/img/cancel.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="listing_body">
        <div class="card">
          <img class="img-fluid" alt="100%x280"
            src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d" />
          <div class="card-body">
            <div class="cost">
              <p>$130,000</p>
              <p><img src="../../assets/img/heart.png" /></p>
            </div>
            <h4 class="card-title">
              Headland Semi Detached Bungalow To Rent
            </h4>
            <p class="card-text">
              <i class="fa fa-map-marker" aria-hidden="true"></i> 808 S
              Michigan Ave,Chicago, IL, 60605.
            </p>
            <div class="featured">
              <div class="row4">
                <div class="col4">
                  <p>
                    <img src="../../assets/img/bed.png" alt="bed" /> 05
                    bed
                  </p>
                </div>
                <div class="col4">
                  <p>
                    <img src="../../assets/img/bath.png" alt="bed" /> 04
                    Bath
                  </p>
                </div>
                <div class="col4">
                  <p>
                    <img src="../../assets/img/Group2309.png" alt="bed" />
                    587 sqft
                  </p>
                </div>
              </div>
            </div>
            <div class="prop_icon">
              <img src="../../assets/img/heart.svg" alt="">
              <img src="../../assets/img/cancel.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="listing_body">
        <div class="card">
          <img class="img-fluid" alt="100%x280"
            src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d" />
          <div class="card-body">
            <div class="cost">
              <p>$130,000</p>
              <p><img src="../../assets/img/heart.png" /></p>
            </div>
            <h4 class="card-title">
              Headland Semi Detached Bungalow To Rent
            </h4>
            <p class="card-text">
              <i class="fa fa-map-marker" aria-hidden="true"></i> 808 S
              Michigan Ave,Chicago, IL, 60605.
            </p>
            <div class="featured">
              <div class="row4">
                <div class="col4">
                  <p>
                    <img src="../../assets/img/bed.png" alt="bed" /> 05
                    bed
                  </p>
                </div>
                <div class="col4">
                  <p>
                    <img src="../../assets/img/bath.png" alt="bed" /> 04
                    Bath
                  </p>
                </div>
                <div class="col4">
                  <p>
                    <img src="../../assets/img/Group2309.png" alt="bed" />
                    587 sqft
                  </p>
                </div>
              </div>
            </div>
            <div class="prop_icon">
              <img src="../../assets/img/heart.svg" alt="">
              <img src="../../assets/img/cancel.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>

    </ng-template>
    <ng-template swiperSlide>
      <div class="listing_body">
        <div class="card">
          <img class="img-fluid" alt="100%x280"
            src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d" />
          <div class="card-body">
            <div class="cost">
              <p>$130,000</p>
              <p><img src="../../assets/img/heart.png" /></p>
            </div>
            <h4 class="card-title">
              Headland Semi Detached Bungalow To Rent
            </h4>
            <p class="card-text">
              <i class="fa fa-map-marker" aria-hidden="true"></i> 808 S
              Michigan Ave,Chicago, IL, 60605.
            </p>
            <div class="featured">
              <div class="row4">
                <div class="col4">
                  <p>
                    <img src="../../assets/img/bed.png" alt="bed" /> 05
                    bed
                  </p>
                </div>
                <div class="col4">
                  <p>
                    <img src="../../assets/img/bath.png" alt="bed" /> 04
                    Bath
                  </p>
                </div>
                <div class="col4">
                  <p>
                    <img src="../../assets/img/Group2309.png" alt="bed" />
                    587 sqft
                  </p>
                </div>
              </div>
            </div>
            <div class="prop_icon">
              <img src="../../assets/img/heart.svg" alt="">
              <img src="../../assets/img/cancel.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="listing_body">
        <div class="card">
          <img class="img-fluid" alt="100%x280"
            src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d" />
          <div class="card-body">
            <div class="cost">
              <p>$130,000</p>
              <p><img src="../../assets/img/heart.png" /></p>
            </div>
            <h4 class="card-title">
              Headland Semi Detached Bungalow To Rent
            </h4>
            <p class="card-text">
              <i class="fa fa-map-marker" aria-hidden="true"></i> 808 S
              Michigan Ave,Chicago, IL, 60605.
            </p>
            <div class="featured">
              <div class="row4">
                <div class="col4">
                  <p>
                    <img src="../../assets/img/bed.png" alt="bed" /> 05
                    bed
                  </p>
                </div>
                <div class="col4">
                  <p>
                    <img src="../../assets/img/bath.png" alt="bed" /> 04
                    Bath
                  </p>
                </div>
                <div class="col4">
                  <p>
                    <img src="../../assets/img/Group2309.png" alt="bed" />
                    587 sqft
                  </p>
                </div>
              </div>
            </div>
            <div class="prop_icon">
              <img src="../../assets/img/heart.svg" alt="">
              <img src="../../assets/img/cancel.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="listing_body">
        <div class="card">
          <img class="img-fluid" alt="100%x280"
            src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d" />
          <div class="card-body">
            <div class="cost">
              <p>$130,000</p>
              <p><img src="../../assets/img/heart.png" /></p>
            </div>
            <h4 class="card-title">
              Headland Semi Detached Bungalow To Rent
            </h4>
            <p class="card-text">
              <i class="fa fa-map-marker" aria-hidden="true"></i> 808 S
              Michigan Ave,Chicago, IL, 60605.
            </p>
            <div class="featured">
              <div class="row4">
                <div class="col4">
                  <p>
                    <img src="../../assets/img/bed.png" alt="bed" /> 05
                    bed
                  </p>
                </div>
                <div class="col4">
                  <p>
                    <img src="../../assets/img/bath.png" alt="bed" /> 04
                    Bath
                  </p>
                </div>
                <div class="col4">
                  <p>
                    <img src="../../assets/img/Group2309.png" alt="bed" />
                    587 sqft
                  </p>
                </div>
              </div>
            </div>
            <div class="prop_icon">
              <img src="../../assets/img/heart.svg" alt="">
              <img src="../../assets/img/cancel.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </swiper>
</div>

<div class="property_list">
  <div class="container">
    <div class="property_body">
      <div class="third_tab">
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
