@import "../../assets/scss/variable.scss";

.privacy_section {
    padding: 4rem 0;
    background-color: #fafafa;
    h2 {
        margin-bottom: 3rem;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 90px;
            height: 2px;
            bottom: -10px;
            left: 0;
            background-color: $primaryColor;
        }
    }
    h3 {
        margin-bottom: 2rem;
    }
}