.page-content {
    display: inline-block;
    width: 100%;
    padding: 5rem 1rem 1rem 15rem;
    overflow-x: hidden;
    background-color: #f1f1f1;
    min-height: 100vh;
}
.page_card {
    box-shadow: 0 8px 17px 2px rgb(221 221 221 / 14%), 0 3px 14px 2px rgb(223 223 223 / 12%),
        0 5px 5px -3px rgb(235 235 235 / 20%);
    padding: 1rem;
    background-color: #fff;
    margin-bottom: 1rem;
}
