<app-header></app-header>
<nav class="breadcrumb-nav" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">About</li>
    </ol>
  </div>
</nav>
<section class="about_sec">
  <div class="container">
    <h2>
      <strong>Who <span>we are</span></strong>
    </h2>
    <div class="user_card_area">
      <div class="row">
        <div class="col-md-6">
          <div class="user_card">
            <img src="../../assets/img/real-state.svg" alt="" />
            <div>
              <h5>Selling Estate</h5>
              <p>
                Lorem ipsum dolor sit amet, consec tetur cing elit. Suspe ndisse
                suscore ipsum dolor sit ametcipsum dolor sit t, consec tetur
                atetur cing elit.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="user_card">
            <img src="../../assets/img/buy-home.svg" alt="" />
            <div>
              <h5>Buying Esate</h5>
              <p>
                Lorem ipsum dolor sit amet, consec tetur cing elit. Suspe ndisse
                suscore ipsum dolor sit ametcipsum dolor sit t, consec tetur
                atetur cing elit.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="user_card">
            <img src="../../assets/img/key.svg" alt="" />
            <div>
              <h5>Rent Estate</h5>
              <p>
                Lorem ipsum dolor sit amet, consec tetur cing elit. Suspe ndisse
                suscore ipsum dolor sit ametcipsum dolor sit t, consec tetur
                atetur cing elit.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="user_card">
            <img src="../../assets/img/agen.svg" alt="" />
            <div>
              <h5>Agent Estate</h5>
              <p>
                Lorem ipsum dolor sit amet, consec tetur cing elit. Suspe ndisse
                suscore ipsum dolor sit ametcipsum dolor sit t, consec tetur
                atetur cing elit.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="cta_section">
  <div class="cta_section_1">
    <div class="container">
      <div class="cta_area">
        <h2>Are you ready to Buy</h2>
        <h3>Dream Property?</h3>
        <button class="btn btn-primary">Search Property</button>
      </div>
    </div>
  </div>
</section>
<section class="why_us">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="../../assets/img/property-light.png" alt="" />
      </div>
      <div class="col-md-6">
        <h2>
          <strong>Who <span>we are</span></strong>
        </h2>
        <p class="big-text">
          <strong
            >Mauris ac consectetur ante, dapibus gravida tellus. Nullam aliquet
            eleifend dapibus. Cras sagittis, ex euismod lacinia tempor.</strong
          >
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis
          ligula eu lectus vulputate porttitor sed feugiat nunc. Mauris ac
          consectetur ante, dapibus gravida tellus. Nullam aliquet eleifend
          dapibus.Lorem ipsum dolor sit amet, consec tetur cing elit. Suspe
          ndisse suscore ipsum dolor sit ametcipsum dolor sit t, consec tetur
          atetur cing elit.Suspe ndisse susco rem ipsum dolor sit ametcipsum
          doloamet.
        </p>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
