<app-sidebar></app-sidebar>
<main class="page-content">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-8">
      <div class="row">
        <div class="col-6 col-md-4">
          <div class="dash_card">
            <i class="fa fa-user-md"></i>
            <h3>300</h3>
            <p>Total Agents</p>
          </div>
        </div>
        <div class="col-6 col-md-4">
          <div class="dash_card">
            <i class="fa fa-user"></i>
            <h3>300</h3>
            <p>Total Users</p>
          </div>
        </div>
        <div class="col-6 col-md-4">
          <div class="dash_card">
            <i class="fa fa-file"></i>
            <h3>300</h3>
            <p>Archived Leads</p>
          </div>
        </div>
        <div class="col-6 col-md-4">
          <div class="dash_card">
            <i class="fa fa-handshake-o"></i>
            <h3>300</h3>
            <p>Total Deals</p>
          </div>
        </div>
        <div class="col-6 col-md-4">
          <div class="dash_card">
            <i class="fa fa-envelope"></i>
            <h3>300</h3>
            <p>Active Leads</p>
          </div>
        </div>
        <div class="col-6 col-md-4">
          <div class="dash_card">
            <i class="fa fa-file-text-o"></i>
            <h3>300</h3>
            <p>Close Deal</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-4">
      <div class="page_card">
        <h3 class="d-flex justify-content-between"><strong>New User</strong> <i class="fa fa-info-circle"></i></h3>
        <img src="../../../assets/img/missed-lead-graph.png" alt="" style="width: 60%; display: block; margin: auto;">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6">
      <div class="page_card">
        <h3><strong>Agents Performance</strong></h3>
        <div class="table-responsive table-scroll">
          <table class="table">
            <tbody>
              <tr>
                <td>
                  <div class="container-fluid">
                    <div class="image_contain">
                      <div class="image">
                        <img src="../../assets/img/building-2.png" alt="" />
                      </div>
                      <div>
                        <h5>Jordan Helos</h5>
                        <p>jorden@gmail.com</p>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="container-fluid">
                    <div class="image_contain">
                      <div class="image">
                        <img src="../../assets/img/building-2.png" alt="" />
                      </div>
                      <div>
                        <h5>Jordan Helos</h5>
                        <p>jorden@gmail.com</p>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="container-fluid">
                    <div class="image_contain">
                      <div class="image">
                        <img src="../../assets/img/building-2.png" alt="" />
                      </div>
                      <div>
                        <h5>Jordan Helos</h5>
                        <p>jorden@gmail.com</p>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6">
      <div class="page_card">
        <h3 class="d-flex justify-content-between"><strong>New User</strong> <button
            class="btn btn-primary-outline">View All</button></h3>
        <div class="table-responsive table-scroll">
          <table class="table">
            <tbody>
              <tr>
                <td>
                  <div class="container-fluid">
                    <div class="image_contain">
                      <div class="image">
                        <img src="../../assets/img/building-2.png" alt="" />
                      </div>
                      <div>
                        <h5>Jordan Helos</h5>
                        <p>jorden@gmail.com</p>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="container-fluid">
                    <div class="image_contain">
                      <div class="image">
                        <img src="../../assets/img/building-2.png" alt="" />
                      </div>
                      <div>
                        <h5>Jordan Helos</h5>
                        <p>jorden@gmail.com</p>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="container-fluid">
                    <div class="image_contain">
                      <div class="image">
                        <img src="../../assets/img/building-2.png" alt="" />
                      </div>
                      <div>
                        <h5>Jordan Helos</h5>
                        <p>jorden@gmail.com</p>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
