@import "../../assets/scss/variable.scss";

.property-detail {
    padding: 3.5rem 0;
    background-color: $grayColor1;

    .property_des {
        margin-bottom: 2rem;
    }

    .detail-card {
        .bty-primary {
            background: #ecfeff 0% 0% no-repeat padding-box !important;
            border: 0.5px solid #1ac7cf !important;
            color: #1ac7cf !important;
            margin-right: 12px;
            font-size: 14px;
        }
        .bty-primary.red {
            background: #ffecec 0% 0% no-repeat padding-box !important;
            border: 0.5px solid #ff5d5d !important;
            color: #ff5d5d !important;
            font-size: 14px;
        }
        .bty-primary.green {
            background: #e6ffea 0% 0% no-repeat padding-box !important;
            border: 0.5px solid #076e18 !important;
            color: #076e18 !important;
            font-size: 14px;
        }
        h1 {
            font-size: 30px;
            color: #03101f;
            font-weight: 500;
            line-height: 1;
            margin-top: 1rem;
        }
        p {
            font-size: 20px;
            margin-top: 14px;
            color: #03101f;
            font-weight: 400;
            span {
                color: #9e9e9e;
            }
        }
    }
    .price {
        text-align: right;
        p {
            font-size: 30px;
            color: #1ac7cf;
            font-weight: 700;
            text-align: right;
        }
        .bty-primary {
            background-color: #1ac7cf;
            border-radius: 8px;
            color: #fff;
            font-size: 16px;
            font-weight: 500;
            width: 200px;
            height: 60px;
        }
    }
    .description {
        .descp_card {
            text-align: left;
            width: 100%;
            ul {
                list-style-type: none;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                text-align: left;
                margin-left: -32px;
                li {
                    display: inline-block;
                    color: #03101f;
                    font-size: 18px;
                    span {
                        font-weight: 500;
                    }
                }
            }
        }
        .slider {
            img {
                width: 100%;
                height: 500px;
            }
        }
        .quick_info {
            margin-top: 4rem;
            h4 {
                font-size: 25px;
                color: #000000;
                font-weight: 500;
            }
            .quick-card {
                background-color: #fff;
                padding: 0px;
                margin: 0;
            }
            .beds {
                background: url("../../assets/img/bed-border.png");
                background-position: right bottom;
                background-repeat: no-repeat;

                padding: 20px 10px 10px;
                h6 {
                    font-size: 16px;
                    color: #9e9e9e;
                    font-weight: 500;
                }
                p {
                    font-size: 20px;
                    color: #03101f;
                    font-weight: 700;
                }
            }
            .bath {
                background: url("../../assets/img/bath-border.png");
                background-position: right bottom;
                background-repeat: no-repeat;

                padding: 20px 10px 10px;
                h6 {
                    font-size: 16px;
                    color: #9e9e9e;
                    font-weight: 500;
                }
                p {
                    font-size: 20px;
                    color: #03101f;
                    font-weight: 700;
                }
            }
            .sqft {
                background: url("../../assets/img/sqft-border.png");
                background-position: right bottom;
                background-repeat: no-repeat;

                padding: 20px 10px 10px;
                h6 {
                    font-size: 16px;
                    color: #9e9e9e;
                    font-weight: 500;
                }
                p {
                    font-size: 20px;
                    color: #03101f;
                    font-weight: 700;
                }
            }
            .garage {
                background: url("../../assets/img/garage.png");
                background-position: right bottom;
                background-repeat: no-repeat;

                padding: 20px 10px 10px;
                h6 {
                    font-size: 16px;
                    color: #9e9e9e;
                    font-weight: 500;
                }
                p {
                    font-size: 20px;
                    color: #03101f;
                    font-weight: 700;
                }
            }
            .size {
                background: url("../../assets/img/size.png");
                background-position: right bottom;
                background-repeat: no-repeat;

                padding: 20px 10px 10px;
                h6 {
                    font-size: 16px;
                    color: #9e9e9e;
                    font-weight: 500;
                }
                p {
                    font-size: 20px;
                    color: #03101f;
                    font-weight: 700;
                }
            }
            .floor {
                background: url("../../assets/img/floor.png");
                background-position: right bottom;
                background-repeat: no-repeat;

                padding: 20px 10px 10px;
                h6 {
                    font-size: 16px;
                    color: #9e9e9e;
                    font-weight: 500;
                }
                p {
                    font-size: 20px;
                    color: #03101f;
                    font-weight: 700;
                }
            }
        }
        .description {
            margin-top: 46px;
            .dis-card {
                h4 {
                    font-size: 25px;
                    color: #000000;
                    font-weight: 500;
                }
                p {
                    font-size: 16px;
                    color: #000000;
                }
            }
            .amenties_card {
                margin-top: 1rem;
                h4 {
                    font-size: 25px;
                    color: #000000;
                    font-weight: 500;
                }
                .amenties_type {
                    p {
                        font-size: 16px;
                        color: #9d9d9d;
                    }
                }
            }
            .map {
                h4 {
                    font-size: 25px;
                    color: #000000;
                    font-weight: 500;
                }
                .image {
                    img {
                        width: 100%;
                        height: 361px;
                    }
                }
            }
            .floor-plans {
                margin-top: 1rem;
                h4 {
                    font-size: 25px;
                    font-weight: 700;
                }
                .plan-card {
                    background-color: #fff;
                    padding: 22px 28px;
                    h6 {
                        font-size: 18px;
                        color: #000000;
                        margin-bottom: 20px;
                    }
                    .image {
                        padding: 2rem 1rem;
                        img {
                            height: 190px;
                            width: 100%;
                        }
                    }
                }
            }
            .video {
                margin-top: 1rem;
                h4 {
                    font-size: 25px;
                    font-weight: 700;
                }
                .image {
                    img {
                        width: 100%;
                        height: 360px;
                    }
                }
            }
        }
        .contact_agent {
            h4 {
                font-size: 25px;
                color: #000000;
                font-weight: 500;
            }
            .agent-card {
                background-color: #fff;
                padding: 1rem;

                .round_img {
                    img {
                        width: 73px;
                        height: 73px;
                        border-radius: 40px;
                    }
                }
                h5 {
                    font-size: 20px;
                    color: #1ac7cf;
                    font-weight: 500;
                    line-height: 1.5;
                }
                p {
                    font-size: 15px;
                    color: #000000 !important;
                    font-weight: 400;
                }
                form {
                    margin-top: 1.5rem;
                    text-align: right;
                    button {
                        width: 200px;
                        height: 60px;
                        background-color: #1ac7cf;
                        color: #fff;
                        font-size: 16px;
                    }
                }
            }
            .location {
                margin-top: 34px;
                .location-card {
                    padding: 1rem;
                    background-color: #fff;
                    .row {
                        margin-top: 1rem;
                        .col-5 {
                            font-weight: 700;
                            font-size: 16px;
                            img {
                                width: 10px;
                            }
                        }
                        .col-7 {
                            font-size: 16px;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
}

.carousel-indicators {
    bottom: -2rem;
    li {
        width: 10px;
        height: 10px;
        background-color: #000;
        border-radius: 10px;
        border-top: none;
        border-bottom: none;
    }
}

.carousel.carousel_area img {
    height: 496px !important;
}

.modal-open .modal {
    overflow: hidden !important;
}

.schedule_modal {
    .modal-dialog {
        max-width: 575px;
    }
}
.modal {
    .modal-content {
        width: 100%;

        .close {
            top: -2rem;
            right: -2rem;
            font-size: 48px;
            position: absolute;
            color: #fff;
        }

        .modal-header {
            .btn-apply {
                width: 100%;
                height: 70px;
                background-color: #000;
                border-radius: 0;
                font-size: 30px;
                font-weight: 600;
                span {
                    color: $primaryColor;
                }
            }
        }

        .modal-body {
            padding: 15px 30px;

            .wh-box {
                width: 100%;
                height: auto;
                margin: 0 auto;

                p {
                    font-size: 16px;
                    color: #03101f;
                    text-align: center;
                    font-weight: 400;
                    margin-bottom: 3rem;
                }

                .btn-save {
                    width: 100%;
                    height: 60px !important;
                    margin: 0 auto !important;
                    border-radius: 0px;
                    background-color: #1ac7cf;
                }
            }
        }
    }
}
