<app-header></app-header>
<nav class="breadcrumb-nav" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Property</li>
      <li class="breadcrumb-item active" aria-current="page">Detail</li>
    </ol>
  </div>
</nav>

<section class="property-detail">
  <div class="property_des">
    <div class="container">
      <div class="row">
        <div class="col-9">
          <div class="detail-card">
            <button class="btn bty-primary blue">APARTMENT</button>
            <button class="btn bty-primary red">SOLD</button>
            <button class="btn bty-primary green">New</button>
            <h1>Big Luxury Apartment</h1>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> 808 S Michigan Ave,Chicago, IL, 60605 |
              <span>Posted</span>: 6 Month ago</p>
          </div>
        </div>
        <div class="col-3">
          <div class="price">
            <p>$130,000</p>
            <button class="btn bty-primary btn-big">Schedule a Tour</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="description">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="descp_card">
            <ul>
              <li>Property ID : <span>#5331</span></li>
              <li>|</li>
              <li>Add to favorites: <img src="../../assets/img/heart.png" alt="image" /></li>
              <li>|</li>
              <li>Property Age : <span>Build in 2021</span></li>
              <li>|</li>
              <li>Current status : <span>Under Construction</span></li>
            </ul>
          </div>
          <div class="slider">
            <div class="image">
              <img src="../../assets/img/building-1.png" alt="image" />
            </div>
          </div>
          <div class="quick_info">
            <h4>Quick Info</h4>
            <div class="quick-card">
              <div class="row">
                <div class="col-2">
                  <div class="beds">
                    <h6>Beds:</h6>
                    <p>4 Bedrooms</p>
                  </div>
                </div>
                <div class="col-2">
                  <div class="bath">
                    <h6>Beds:</h6>
                    <p>4 Bedrooms</p>
                  </div>
                </div>
                <div class="col-2">
                  <div class="sqft">
                    <h6>Beds:</h6>
                    <p>4 Bedrooms</p>
                  </div>
                </div>
                <div class="col-2">
                  <div class="garage">
                    <h6>Beds:</h6>
                    <p>4 Bedrooms</p>
                  </div>
                </div>
                <div class="col-2">
                  <div class="size">
                    <h6>Beds:</h6>
                    <p>4 Bedrooms</p>
                  </div>
                </div>
                <div class="col-2">
                  <div class="floor">
                    <h6>Beds:</h6>
                    <p>4 Bedrooms</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="description">
            <div class="container">
              <div class="row">
                <div class="col-8">
                  <div class="dis-card">
                    <h4>Description</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dictum ac augue et suscipit. Vivamus
                      ac tellus ut massa bibendum aliquam vitae ac diam. Aenean in enim volutpat, accumsan erat non,
                      porta massa. Nulla ac porta orci. Quisque condimentum fermentum isl, lacinia tempor erat venenatis
                      non. Integer ut malesuada est, nec pulvinar magna. Vestibulum tincidunt malesuada mi eget mattis.
                      Phasellus quis purus porta, auctor dolor sed, eleifend tortor. Vestibulum placerat tristique
                      turpis, eu suscipit nulla elementum porttitor. Duis eu varius libero.</p>
                  </div>
                  <div class="amenties_card">
                    <h4>Amenities</h4>
                    <div class="amenties_type">
                      <div class="row">
                        <div class="col-3">
                          <p><i class="fa fa-bell" aria-hidden="true"></i> Alarm
                          </p>
                        </div>
                        <div class="col-6">
                          <p><i class="fa fa-bell" aria-hidden="true"></i> Restaurant Nearby ( 1.0 km)
                          </p>
                        </div>
                        <div class="col-3">
                          <p><i class="fa fa-bell" aria-hidden="true"></i> Gym ( 1.5 km)
                          </p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-3">
                          <p><i class="fa fa-bell" aria-hidden="true"></i> wifi
                          </p>
                        </div>
                        <div class="col-6">
                          <p><i class="fa fa-bell" aria-hidden="true"></i> Train Station ( 1.5 km)
                          </p>
                        </div>
                        <div class="col-3">
                          <p><i class="fa fa-bell" aria-hidden="true"></i> Playroom
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="map">
                    <h4>Map</h4>
                    <div class="image">
                      <img src="../../assets/img/building-1.png" alt="image" />
                    </div>
                  </div>
                  <div class="floor-plans">
                    <h4>Floor Plans</h4>
                    <div class="row">
                      <div class="col-6">
                        <div class="plan-card">
                          <h6>1st Floor (1325 sqft)</h6>
                          <div class="image">
                            <img src="../../assets/img/building-1.png" >
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="plan-card">
                          <h6>2st Floor (1325 sqft)</h6>
                          <div class="image">
                            <img src="../../assets/img/building-1.png" >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="video">
                    <h4>Video</h4>
                    <div class="image">
                      <img src="../../assets/img/building-1.png" />
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="contact_agent">
                    <h4>Contact the Agent</h4>
                    <div class="agent-card">
                      <div class="row">
                        <div class="col-4">
                          <div class="round_img">
                            <img src="../../assets/img/building-1.png" />
                          </div>
                        </div>
                        <div class="col-8">
                          <div class="name">
                            <h5>Jane Brown</h5>
                            <p>+1 602-862-1673</p>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <form>
                            <div class="form-group">
                              <input type="text" class="form-control" id="name" placeholder="Your Name">
                            </div>
                            <div class="form-group">
                              <input type="email" class="form-control" id="email" placeholder="Your Email"
                                aria-describedby="emailHelp">
                            </div>
                            <div class="form-group">
                              <textarea class="form-control" id="message" rows="3" placeholder="Message"></textarea>
                            </div>
                            <button class="btn btn-primary">Send Message</button>
                          </form>
                          
                        </div>
                      </div>
                    </div>
                    <div class="location">
                      <h4>Location</h4>
                      <div class="location-card">
                        <div class="row">
                          <div class="col-5"><img src="../../assets/img/pin.png"> Address:</div>
                          <div class="col-7">1350 Arbutus Drive, LD</div>
                        </div>
                        <div class="row">
                          <div class="col-5"><img src="../../assets/img/phone-call).png"> Phone:</div>
                          <div class="col-7">+1 602-862-1673</div>
                        </div>
                        <div class="row">
                          <div class="col-5"><img src="../../assets/img/email.png"> Email:</div>
                          <div class="col-7">hello@property.com</div>
                        </div>
                       
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>