<app-agent-header></app-agent-header>
<div class="add_lead">
  <div class="lead_title">
    <h1>My Schedule</h1>
  </div>
  <div class="add_lead_area">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="card">
                    <div class="d-flex justify-content-between align-items-center border-bottom pb-2 mb-2">
                        <h5>Select Date</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card">
                    <div class="d-flex justify-content-between align-items-center border-bottom pb-2 mb-2">
                        <h5>Select Slot</h5>
                        <a href="#"><em class="fa fa-plus"></em> Add More</a>
                    </div>
                    <h5 class="mb-2">9 Thursday 2022</h5>
                    <ul class="slots">
                        <li><em class="fa fa-clock-o"></em> 04:00 AM <em class="fa fa-caret-down"></em></li>
                        <li><em class="fa fa-clock-o"></em> 06:00 AM <em class="fa fa-caret-down"></em></li>
                        <li><em class="fa fa-clock-o"></em> 08:00 AM <em class="fa fa-caret-down"></em></li>
                        <li><em class="fa fa-clock-o"></em> 09:00 AM <em class="fa fa-caret-down"></em></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<app-footer></app-footer>