<app-header></app-header>
<nav class="breadcrumb-nav" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Sell</li>
    </ol>
  </div>
</nav>

<section class="sell_roperty">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="sell_box">
          <div class="card">
            <h3>Your Real5 agent is here to help</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since</p>
              <form>
                <div class="form-group mb-2">
                  <input type="text" class="form-control" id="inputPassword2" placeholder="Enter Street Address">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                </div>
                <button type="submit" class="btn btn-primary mb-2 mr-2">Next</button>
            </form>
          </div>
      </div>
    </div>
    <div class="col-9">
      <img src="../../assets/img/building-2.png" />
    </div>
  </div>
  </div>
</section>
<app-footer></app-footer>
